html {
    background-color: lightsalmon;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    
    text-align: left;
}

div{
    background-color: white;
}

.one{
    margin-left: 400px;
    margin-right: 400px;
}

.list{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    border: 2px solid black;
    padding-bottom: 70px;
}

ul.index {
    font-size: 30px;    
    list-style-type: square;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

